<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bombButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>bombButton1Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>pauseButtonDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,57},{16,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>pauseButtonUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,40},{16,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>redSpaceship.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>simpleStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,23},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{64,128}</string>
            <key>textureFileName</key>
            <string>Sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
